body{
    background-image: url("../img/singup.jpg");
    margin:0;
    padding: 0;
    background-size:cover;
    text-align: center;
    font-family: Quicksand;
}

th, td{
    padding: 15px;
}


tr:nth-child(even){
    background-color: #ddd ;
}

tr:hover td{
    background-color: skyblue;
    color: black;
}

#FormaInfoUser{
    margin: 2% 15%;
    width: 70%;

}

#boton_salir{
    width: 5%;
    font-family: Quicksand;
    background-color: mintcream;
    border-radius: 15px;
    margin: 1px 1px;
    float: right;

}

