body {
    background-image: url("../img/fondo.jpg");
    margin:0;
    padding: 0;
    background-size:cover;
    text-align: center;
    font-family: Quicksand;
}

h1{
    color: black ;
}

#boton_salir{
    width: 5%;
    font-family: Quicksand;
    background-color: mintcream;
    border-radius: 15px;
    margin: 1px 1px;
    float: right;

}

#iniciativasPMO{
    width: 70%;
    margin-left: 15%;

}

#buscar{
    margin-top: 4px;
    width: 8%;
    font-family: Quicksand;
    background-color: mintcream;
    border-radius: 15px;
}
