body {
    background-image: url("../img/fondo.jpg");
    margin:0;
    padding: 0;
    background-size:cover;
    text-align: center;
    font-family: Quicksand;
}

#boton_salir{
    width: 5%;
    font-family: Quicksand;
    background-color: mintcream;
    border-radius: 15px;
    margin: 1px 1px;
    float: right;

}

h1{
    color: black ;
}

#pie{
    opacity: 0.8;
    -moz-opacity: 0.8;
    filter: alpha(opacity=10);
    -khtml-opacity: 0.8;
    width: 70%;
    margin-left: 15%;
    border-radius: 10px;
    background-color: mintcream;
}



#download{
    width: 5%;
    font-family: Quicksand;
    background-color: mintcream;
    border-radius: 15px;
    margin: 1px 1px;


}

#exportar{
    width: 10%;
    font-family: Quicksand;
    background-color: mintcream;
    border-radius: 15px;
    margin: 1px 1px;
    margin-bottom: 10%;

}

#asociarIniciativas{
    margin-left: 10%;
}

