body {
    background-image: url("../img/fondo.jpg");
    margin:0;
    padding: 0;
    background-size:cover;

}

#login_user{
    opacity: 0.8;
    -moz-opacity: 0.8;
    filter: alpha(opacity=10);
    -khtml-opacity: 0.8;
    text-align: center;
    box-sizing: border-box;
    padding: 0 0;
}

#validacion{
    margin-top:15%;
    margin-left: 30%;
    position: relative;
    width: 40%;

}
h1{
    font-family: Quicksand;

}

#boton_login{
    width: 20%;
    font-family: Quicksand;
    margin-top: 4px ;
    background-color: mintcream;
    border-radius: 15px;

}

#username{
    border-radius: 15px;

}

#password{
    border-radius: 15px;
}
#boton_validate{
    margin-top: 4px;
    width: 20%;
    font-family: Quicksand;
    background-color: mintcream;
    border-radius: 15px;
}

#validacion input{


}