<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.UsuarioMapper">

    <select parameterType="map" id="consultarUsuario" resultMap="UsuarioResult">
        select
	        u.documento,
	        u.email,
	        u.nombre,
	        u.apellido,
	        u.password,
	        u.rol,
	        u.area
        from usuario u
        WHERE u.email=#{email};
    </select>

    <update parameterType="map" id="asignarRolUsuario">
        update usuario set rol = #{rol} where email = #{usuario.email};
    </update>

    <insert id="registrarUsuario" parameterType="map">
        INSERT INTO usuario VALUES( #{usuario.documento}, #{usuario.email} , #{usuario.nombre}, #{usuario.apellido}, #{usuario.password},#{usuario.area}, #{usuario.rol});
    </insert>



    <select parameterType="map" id="consultarUsuarios" resultMap="UsuarioResult">
        select
	        u.documento,
	        u.email,
	        u.nombre,
	        u.apellido,
	        u.password,
	        u.rol,
	        u.area
        from usuario u
        where u.rol is null or u.rol != 'Administrador' ;
    </select>

    <resultMap type='Usuario' id='UsuarioResult'>
        <id property='documento' column='documento'/>
        <result property='email' column='email'/>
        <result property='nombre' column='nombre'/>
        <result property='apellido' column='apellido'/>
        <result property='login' column='login'/>
        <result property='password' column='password'/>
        <result property='rol' column='rol'/>
        <result property='area' column='area'/>
    </resultMap>
</mapper>